.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #1e90ff, #ff7f50);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1.5s ease-in-out; /* Durasi animasi fade */
}

.loading-screen.fade-in {
  opacity: 1;
}

.loading-screen.fade-out {
  opacity: 0;
  pointer-events: none; /* Supaya tidak menghalangi klik setelah animasi */
}

.loading-text {
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  color: #fff;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
